body{
    background: linear-gradient(to right, darkblue, purple, );
    padding-top: 50px;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    
}



h1{
    font-size: 56px;
    color: black;
}

.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 40px;
    min-width: 90px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: red;
}
.choices button:hover{
    background-color: black;
}