body {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  padding-top: 50px;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
  font-size: 100px;
  color: black;
}

#resultDisplay {
  margin-top: 2rem;
}

.scoreboard {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.score {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.reset-button {
  margin-top: 2rem;
}
.choices {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.choicesbutton {
  width: 200px;
  height: 50px;
  margin: 10px;
  line-height: 1;
  font-size: 2vw; /* Adjust as needed */
  min-width: 90px;
  margin: 0 10px; /* Keep the existing margin */
  border-radius: 250px;
  background: linear-gradient(to right, whitesmoke, gray);
  transform: scale(1);
  transition: transform ease 1s;
  font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 768px) {
  .choicesbutton {
    font-size: 3vw; /* Adjust as needed */
  }
}

.choices button:hover {
  background-color: black;
  transform: scale(0.89);
}

#resultDisplay {
  font-size: 36px; 
}
